.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Prevent overflow scrolling */
}

/* Sidebar Styles */
.sidebar {
  flex: 0 0 15%; /* Fixed width of 20% */
  min-width: 250px; /* Minimum width of 250px */
  background-color: #282c34;
  color: white;
  padding: 1em;
  overflow-y: auto; /* Scroll for long content */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.right-sidebar {
  flex: 0 0 20%; /* Fixed width of 20% */
  min-width: 250px; /* Minimum width of 250px */
  background-color: #282c34;
  color: white;
  padding: 1em;
  overflow-y: auto; /* Scroll for long content */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.main-layout {
  flex: 1; /* Use the remaining space */
  overflow-y: auto; /* Add scrolling for overflowing content */
  padding: 2em;
  background-color: #f9f9f9;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Sidebar Image Styling */
.sidebar img {
  aspect-ratio: 1 / 1;
  width: 10rem;
  display: block;
  margin: 2em auto 0; /* Center and add space from the top */
}

/* Sidebar List/Table Styling */
.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.right-sidebar table {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Main Content Styles */
.main-content {
  flex-grow: 1;
}


