.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
}

.sidebar, .right-sidebar {
  width: 20%;
  background-color: #282c34;
  color: white;
  padding: 1em;
}

.sidebar img {
  aspect-ratio: 1/1;
  width: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em; /* Added space from the top */
}
.sidebar ul, .right-sidebar table {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-content {
  flex-grow: 1;
  padding: 2em;
}

.pie-chart {
  width: 250px;
  height: 250px;
  margin: 1em;
}

