/* Table Container */
.homework-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Ensures rounding for table edges */
}

/* Table Header */
.homework-table th {
  background-color: #f9f9f9; 
  color: #71717a; 
  padding: 15px;
  border-bottom: solid 1px #e4e4e7;
  text-align: left;
  position: sticky; /* Keeps the header fixed during scroll */
  top: 0;
  z-index: 1;
  font-weight: 500;
  font-size: 1.05rem;
}

/* Table Rows */
.homework-table td {
  color: #333; 
  /* background-color: #f9f9f9;  */
  padding: 15px;
  border: none;
  transition: background-color 0.3s; 
}


/* Scrollable Table Body */
.homework-table tbody {
  display: block;
  max-height: calc(5 * 48px); /* Limit to 5 rows */
  overflow-y: auto; /* Add vertical scrollbar */
  overflow-x: hidden; /* Remove horizontal scrollbar */
}

.homework-table tbody::-webkit-scrollbar {
  width: 0px; /* Hide scrollbar */
}

.homework-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.homework-table thead,
.homework-table tbody tr {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-radius: 8px;
  cursor: default;
}

/* Header Row Styling */
.header-row {
  display: flex;
  justify-content: space-between; /* Aligns header and button */
  align-items: center;
  margin-bottom: 20px;
}
/* Hover Effect for Table Rows */
.homework-table tbody tr:hover {
  background-color: #e4e4e4; 
  transition: background-color 0.3s ease;
}

/* Add Task Button Styles */
.add-homework-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #242424; /* Dark gray background */
  color: white;
  border: none;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-right: 2rem;
  border-radius: 8px; /* Rounded button */
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-homework-btn i {
  margin-right: 8px; 
  font-size: 1.2rem; 
  transform: translateY(1px);
}

.add-homework-btn:hover {
  background-color: #383838; /* Darker gray on hover */
}

/* Action Buttons Styles */
.homework-table button {
  background-color: #fff; /* Gray background */
  color: #333;
  /* border: solid 1px #e4e4e7; */
  padding: 8px 16px;
  border-radius: calc(0.5rem - 2px); /* Rounded buttons */
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Add shadow */
}

.homework-table button:hover {
  background-color: #efefef
  /* transform: scale(1.05); */
}

.homework-table button:focus,
.add-homework-btn:focus {
  outline: none; /* Remove the default focus border */
  box-shadow: none; /* Remove any box shadow */
}

/* Header Styles */
h2,
p {
  color: #333; /* Dark text */
  font-weight: bold;
  margin-bottom: 15px;
}

/* Calendar Icon */
.homework-table i {
  margin-top: 5px;
  padding: 10px 5px;
  color: #494949;
  transform: translateY(1px);
}
