.notification-list {
  background-color: var(--background-light);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-top: 10px;
}

.notification-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-list li {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 5px 0;
  color: var(--text-dark);
  display: flex;
  align-items: center;
  gap: 10px;
}

.notification-list li.urgent {
  border-left: 5px solid red;
}

.notification-list li.near-due {
  border-left: 5px solid orange;
}

.notification-list li span.icon {
  font-size: 1.5rem;
}
