.profile-label {
  font-weight: 500;
  padding: 15px;
}

.year-list {
  list-style: none;
  padding: 0;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto; /* Add scrolling for long lists */
}

.year-item {
  margin-bottom: 10px;
}

.year-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  /* background-color: #333; */
  transition: background-color 0.3s ease;
}

.year-header:hover {
  background-color: #343434;
}

.toggle-icon {
  font-size: 1.2rem;
}

/* Expand/Collapse Animation */
.semester-list {
  list-style: none;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.year-item.expanded .semester-list {
  max-height: 500px; /* Arbitrary height to accommodate content */
  opacity: 1;
}

.semester-item {
  margin-bottom: 5px;
  padding: 10px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 5px;
  /* background-color: #2a2a2a; */
  transition: background-color 0.3s ease;
}

.semester-item:hover {
  background-color: #343434;
}

.add-year-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-year-btn {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-year-btn:hover {
  background-color: #484848;
}
