.chart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
}

.chart-container .chart {
  width: 200px;
  height: 200px;
}

.chart-placeholder {
  color: #999999; /* Light gray text */
  font-size: 1rem;
  text-align: center;
}

.percentage-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

